<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<connectionStrings>
		<add name="sqlserver"
		     connectionString="Server=tcp:127.0.0.1,1433;Initial Catalog=OrmBenchmark;Persist Security Info=False;User ID=sa;Password=Password123;TrustServerCertificate=True;MultipleActiveResultSets=False;Connection Timeout=30;" />
	</connectionStrings>
	<appSettings>
		<add key="CleanDatabase" value="true" />
	</appSettings>
</configuration>